[user]
	name = Coby Chapple
	email = coby@cobychapple.com
[alias]
	b = branch
	cl = clone
	cm = commit
	co = checkout
	d = diff
	i = init
	l = log
	m = merge
	s = status -sb
	t = tag
	g = log --graph --all --oneline
  	undo = reset --soft HEAD^
  	count = shortlog -sn
[color]
	diff = auto
	status = auto
	branch = auto
	ui = auto
[core]
	excludesfile = /Users/cobyism/.gitignore
	autocrlf = input
	quotepath = false
	editor = vim
	pager = diff-so-fancy | less --tabs=1,5 -R
[apply]
	whitespace = nowarn
[format]
	pretty = %C(yellow)%h%Creset %s %C(red)(%an, %cr)%Creset
[help]
  	autocorrect = 1
[github]
	user = cobyism
[heroku]
	account = coby
[mergetool]
	keepBackup = true
[diff]
    tool = Kaleidoscope
[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true
[hub]
	protocol = https
[credential]
	helper = osxkeychain
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[push]
	default = simple
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
