"*":
  editor:
    fontFamily: "Source Code Pro"
    showInvisibles: true
    showIndentGuide: true
    autoIndentOnPaste: false
    softWrap: true
    softWrapAtPreferredLineLength: true
    invisibles: {}
    preferredLineLength: 200
  core:
    disabledPackages: [
      "wrap-guide"
      "autocomplete-plus"
      "metrics"
      "exception-reporting"
      "welcome"
      "autoclose-html"
      "linter-csslint"
      "linter-jshint"
      "linter-coffeelint"
      "linter-rubocop"
      "linter-scss-lint"
      "linter"
      "symbols-tree-view"
    ]
    projectHome: "/Users/cobyism/code"
  "spell-check":
    grammars: [
      "text.plain"
      "source.gfm"
      "text.git-commit"
    ]
  whitespace:
    ignoreWhitespaceOnCurrentLine: false
  "release-notes":
    viewedVersion: "0.95.0"
  linter:
    showStatusBarWhenCursorIsInErrorRange: true
  emmet:
    extensionsPath: "~/.dotfiles/emmet"
  "merge-conflicts":
    gitPath: "/opt/boxen/homebrew/bin/hub"
  "tree-view":
    hideVcsIgnoredFiles: true
    showOnRightSide: true
  "atom-lint":
    showViolationMetadata: false
  "autocomplete-plus":
    autoActivationDelay: 1500
  "atom-color-highlight": {}
  atomatigit: {}
  minimap: {}
  "highlight-column":
    opacity: 0.15
    enableHighlight: false
