'body':
  'ctrl-alt-w': 'editor:toggle-soft-wrap'

'.editor':
  'ctrl-alt-.': 'emmet:next-edit-point'
  'ctrl-alt-,': 'emmet:prev-edit-point'
  'ctrl-A': 'emmet:increment-number-by-1'
  'ctrl-X': 'emmet:decrement-number-by-1'
  'ctrl-alt-cmd-|': 'tree-view:show'
  'ctrl-alt-cmd-A': 'tree-view:add-file'
  'ctrl-alt-cmd-R': 'tree-view:rename'
  'ctrl-alt-shift-cmd-backspace': 'tree-view:remove'
  'ctrl-alt-shift-cmd-enter': 'snippets:expand'
  'ctrl-alt-shift-cmd-enter': 'emmet:expand-abbreviation'
  'ctrl-alt-shift-cmd-w': 'emmet:wrap-with-abbreviation'
  'ctrl-alt-shift-cmd-g': 'git-diff:move-to-next-diff'
  'ctrl-alt-shift-cmd-k': 'editor:move-line-up'
  'ctrl-alt-shift-cmd-j': 'editor:move-line-down'
  'ctrl-alt-cmd-{': 'editor:fold-current-row'
  'ctrl-alt-cmd-}': 'editor:unfold-current-row'
  'ctrl-alt-cmd-_': 'editor:fold-all'
  'ctrl-alt-cmd-+': 'editor:unfold-all'
  'ctrl-alt-cmd-|': 'editor:fold-selection'

'.workspace':
  'ctrl-)': 'tree-view:toggle-side'
