'atom-text-editor':
  'ctrl-alt-cmd-shift-\\': 'tree-view:toggle'
  'ctrl-alt-cmd-shift-A': 'tree-view:add-file'
  'ctrl-alt-cmd-shift-R': 'tree-view:rename'
  'ctrl-alt-shift-cmd-k': 'editor:move-line-up'
  'ctrl-alt-shift-cmd-j': 'editor:move-line-down'

'atom-workspace':
  'ctrl-alt-shift-cmd-m': 'markdown-preview:toggle'
